$dark-green-blue = #00919d
$medium-green-blue = #00d1df
$light-green-blue = #04f7f7

$dark-blue = #002868
$medium-blue = #1b53ad
$navbar-blue = #1c72bb
$blue = #5088e1

$dark-neutral = #30455c
$medium-neutral = #7b92ab
$neutral = #d0ddea
$light-neutral = #f4f7fb
$system-neutral = #a9a9a9

$white = #ffffff
$black = #333333
$black-system = #16181e

$success = #56bd5b
$alert = #f7b422
$error = #e34c4c

